@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #242424;
  color: white;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;

  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}

/*Header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 20px;

  div {
    display: flex;
    gap: 20px;

    a {
      text-decoration: none;
      color: rgb(226, 68, 160);
      font-size: 19px;
    }

    .active {
      text-shadow: 0 0 20px pink;
    }
  }
}

.list-page {
  padding: 20px;
}

.job-count {
  margin-bottom: 50px;
}

.job-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
}

/*Card*/

.card {
  background: gray;
  border-radius: 10px;
  padding: 20px;
  margin: 40px;

  .head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 20px;

    .letter {
      display: grid;
      height: 60px;
      width: 60px;
      background: purple;
      place-items: center;
      border-radius: 10px;
      font-size: 30px;
    }

    .info {
      font-size: 20px;
    }
  }

  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;

    .field {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 30px;
      }
    }

    .status {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border-radius: 10px;
        flex: 1;
      }

      .interview {
        background: green;
      }

      .rejected {
        background: red;
      }

      .pending {
        background: rgb(186, 186, 57);
      }

      .default {
        background: gray;
      }
    }
  }
}

.add-sec {
  max-width: 700px;
  margin: 100px auto;
  box-shadow: 0 22px;
  box-shadow: 0px 0px 55px 0px rgba(209, 39, 130, 1);

  padding: 25px;

  form {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    div {
      display: flex;
      flex-direction: column;
    }

    div input,
    div select {
      padding: 10px 15px;
      margin-top: 5px;
      border-radius: 5px;
    }

    div:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      padding: 10px 40px;
      border-radius: 5px;
      background-color: black;
      color: white;
      cursor: pointer;
      transition: all 300ms;

      &:hover {
        scale: 0.95;
        box-shadow: 0 0 30px rgba(209, 39, 130, 1);
      }
    }
  }
}

.filter-sec {
  @extend .add-sec; /*Miras alma*/
  max-width: 1000px;
}

.delete-button,
.edit-button {
  background-color: black !important;
  border-radius: 10px;
  color: white !important;
  transition: all 300ms;
  cursor: pointer;
  padding: 10px 40px;
}

.delete-button:hover {
  transform: scale(0.95);
  box-shadow: 0 0 30px rgba(209, 39, 130, 1);
}

.edit-button:hover {
  transform: scale(0.95);
  box-shadow: 0 0 30px rgba(209, 39, 130, 1);
}

.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 430px;
  background: rgba(209, 39, 130, 0.432);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
  padding: 10px;
}

.modal h2 {
  text-align: center;
  color: rgb(240, 233, 233);
  margin-bottom: 15px;
}

.input-style {
  width: 100%;
  border-radius: 6px;
  border: none;
  padding: 5px 5px 5px 5px;
  font-family: "poppins";
}

.save-button,
.cancel-button {
  background-color: black !important;
  border-radius: 10px;
  color: white !important;
  transition: all 300ms;
  cursor: pointer;
  padding: 10px 40px;
}

.save-button:hover {
  transform: scale(0.95);
  box-shadow: 0 0 30px rgba(209, 39, 130, 1);
}

.cancel-button:hover {
  transform: scale(0.95);
  box-shadow: 0 0 30px rgba(209, 39, 130, 1);
}
